@import "tailwindcss";

@theme {
  /* Vinculamos las variables de las fuentes de Next.js */
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;

  /* Registramos la gama de colores oficial */
  --color-splendide-pink: #D7A1A4;
  --color-splendide-lightPink: #F3E1E3;
  --color-splendide-bg: #FAF4F4;
  --color-splendide-dark: #1A1A1A;
  --color-splendide-gray: #707070;
}

/* Forzamos a que el navegador aplique los colores base desde el arranque */
html, body {
  background-color: #FAF4F4;
  color: #1A1A1A;
}

/* Utilidad global útil para ocultar barras de scroll en carruseles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Estilos para los puntitos de Swiper del Banner */
.banner-splendide .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
.banner-splendide .swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
  width: 25px;
  border-radius: 5px;
}